{% comment %}Responsive delivery from the human-approved Homepage portrait master.{% endcomment %}
{% load static i18n %}
<picture data-trace-id="IMG-00">
    <source
        type="image/webp"
        srcset="{% static 'images/profile/luis-franca-transparent-02-480.webp' %} 480w,
                {% static 'images/profile/luis-franca-transparent-02-768.webp' %} 768w,
                {% static 'images/profile/luis-franca-transparent-02-1024.webp' %} 1024w"
        sizes="(min-width: 64rem) 46vw, (min-width: 48.0625rem) 58vw, 92vw">
    <img
        class="profile-photo"
        src="{% static 'images/profile/luis-franca-transparent-02.png' %}"
        alt="{% trans 'Professional photograph of Luís Eduardo Carvalho França' %}"
        width="1385"
        height="1136"
        fetchpriority="high">
</picture>
